$color-1: #008EC1;
$color-2: #FFCC00;
$color-1-dark: #006198;
$color-2-dark: #F6A400;
$text-color: #3E3D40;
$gray: #818181;
$light-gray: #B3B3B3;
$lightest-gray: #e1e1e1;
$transition: .25s ease-in;
$transition-slow: .75s ease-in;

/* mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}
@mixin shape($rad) {
    border-top-left-radius: $rad;
    border-top-right-radius: 0px;
    border-bottom-right-radius: $rad;
    border-bottom-left-radius: $rad;
}

html {scroll-behavior: smooth;}

p, label, span, a, form, legend, select, div, blockquote, cite, figure, figcaption, ul, ol, dl {
    line-height: 140%;
    margin: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: inherit;
}
a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}


/* Form elements */
input, textarea {
    @include shape(1rem);
    background: #F5F5F5;
    box-shadow: none;
    border: none;
    padding: 1em 1.5em;
    width: 100%;
    line-height: normal;
    outline: none;
    display: block;
    transition: $transition;
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: #9C9C9C;
        font-weight: 600;
    }
    &::placeholder {
        color: #9C9C9C;
        font-weight: 600;
    }
}
label {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    input {
        padding: 0px !important;
        @include no-appearance();
        width: 1.5em;
        height: 1.5em;
        background-color: #F3F3F3;
        border: 2px solid #3E3D40;
        @include shape(.35em);
        &:checked {
            background-color: $color-2;
            &::after {
                content: "✔";
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        } 
    }
    span {flex: 1;}
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
    line-height: 140%;
    &:hover, &:focus, &:active {cursor: pointer;}
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    text-align: center;
    width: fit-content;
    font-size: 1em;
    line-height: normal;
    font-weight: 500;
    transition: $transition;
    border: none;
    @include shape(1rem);
    @media (max-width: 575px){
        @include shape(1em);
    }
    &-1 {
        @extend .btn;
        background: $color-2;
        color: #000;
        &:hover, &:focus, &:active{
            background: $color-2-dark;
            color: #000;
        }
    }
    &-2 {
        @extend .btn;
        background: $color-1;
        color: #fff;
        &:hover, &:focus, &:active{
            background: $color-1-dark;
            color: #fff;
        }
    }
    &-3 {
        @extend .btn;
        background: $text-color;
        color: #fff;
    }
}

h1 {
    font-size: 5.5em;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 0px;
}
h2 {
    font-size: 3.25em;
    font-weight: 600;
    color: #000;
    margin-bottom: 1em;
}
h3 {
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}
h5 {
    text-align: left;
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1em;
}
h6 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0px;
}
@media (max-width: 1399px){
    h1 {font-size: 4.5em;}
    h2 {font-size: 3em;}
}
@media (max-width: 1199px){
    h1 {font-size: 3.5em;}
    h2 {font-size: 2.5em;}
    h3 {font-size: 1.75em;}
    h4 {font-size: 1.35em;}
}
@media (max-width: 767px){
    h1 {font-size: 2.5em;}
    h4 {font-size: 1.75em;}
}
@media (max-width: 575px){
    h1 {font-size: 2em;}
    h2 {text-align: center;}
    h3 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
}

.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}
.white {color: #fff;}
.black {color: #000;}
.color-2 {color: $color-2;}

.mb-8 {
    margin-bottom: 8em;
    @media (max-width: 767px) {
        margin-bottom: 6em;
    }
    @media (max-width: 575px) {
        margin-bottom: 4em;
    }
}


body {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin: 0px;
    color: $text-color;
    --header-h: 120px;
    --footer-h: 100px;
    @media (max-width: 1199px) {
        font-size: 15px;
        --header-h: 100px;
    }
    @media (max-width: 991px) {
        font-size: 14px;
        --header-h: 90px;
    }
    @media (max-width: 767px) {
        font-size: 12px;
        --header-h: 80px;
    }
    @media (max-width: 575px) {
        font-size: 10px;
        --header-h: 60px;
    }
}


header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    height: var(--header-h);
    z-index: 1050;
    .logo {
        width: 340px;
        @media (max-width: 1399px){
            width: 300px;
        }
        @media (max-width: 1199px) {
            width: 250px;
        }
        @media (max-width: 767px) {
            width: 200px;
        }
        @media (max-width: 575px) {
            width: 170px;
        }
    }
    nav {
        @media (max-width: 991px) {
            display: none;
        }
        ul {
            list-style: none;
            padding-left: 0px;
            display: flex;
            align-items: center;
            li {
                &:not(:first-child){
                    margin-left: 2em;
                    @media (max-width: 1399px) {
                        margin-left: 1.5em;
                    }
                    @media (max-width: 1199px) {
                        margin-left: 1em;
                    }
                }
                a {
                    font-size: 1.1em;
                    font-weight: 500;
                    color: $text-color;
                    transition: $transition;
                    &:hover, &:focus {color: $color-1;}
                }
            }
        }
    }
    .btn-1 {@include shape(2em);}
}


main {
    min-height: calc(100vh - var(--header-h) - var(--footer-h));
    padding: 3em 0;
    @media (max-width: 1199px){
        padding: 2em 0;
    }
    @media (max-width: 575px){
        padding: 1em 0;
    }
}


.sec-1 {
    position: relative;
    padding-bottom: 10em;
    @media (max-width: 1399px){
        padding-bottom: 8em;
    }
    @media (max-width: 991px){
        padding-bottom: 0px;
    }
    .main {
        @include shape(60px);
        background: $color-1;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        height: 800px;
        position: relative;
        z-index: 1;
        @media (max-width: 1399px){
            height: 700px;
        }
        @media (max-width: 1199px){
            height: 600px;
        }
        @media (max-width: 991px){
            height: 500px;
        }
        @media (max-width: 767px){
            height: 350px;
            @include shape(2.5em);
        }
        @media (max-width: 575px){
            height: 60vw;
            @include shape(1.5em);
        }
        h1 {
            @include shape(250px);
            background-color: $color-2;
            width: calc(50% + 165px);
            padding: 4rem 10% 4rem 230px;
            position: relative;
            z-index: 5;
            margin-left: -165px;
            @media (max-width: 1199px){
                padding: 3rem 10% 3rem 160px;
                margin-left: -110px;
                width: calc(50% + 110px);
            }
            @media (max-width: 767px){
                padding: 2rem 10% 2rem 160px;
            }
            @media (max-width: 575px){
                @include shape(70px);
                padding: 1em 2em 1em 75px;
                margin-left: -50px;
                width: calc(50% + 50px);
            }
        }
        img {
            &.main-img {
                position: absolute;
                bottom: 0px;
                z-index: 10;
                right: -30%;
                height: 98%;
                @media (max-width: 991px){
                    height: 85%;
                }
                @media (max-width: 767px){
                    height: 100%;
                    right: -33%;
                }
            }
            &.inner-img {
                position: absolute;
                top: 0px;
                left: 0%;
                z-index: 1;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &.icon {
                position: absolute;
                top: 25%;
                right: 10%;
                z-index: 2;
                width: 28%;
            }
        }
    }
    .benefits {
        position: absolute;
        z-index: 2;
        bottom: 0px;
        left: 0px;
        width: 100%;
        @media (max-width: 991px){
            position: relative;
            bottom: unset;
            left: unset;
            margin-top: 2em;
        }
        .box {
            @include shape(2em);
            background: #FFFFFF;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 767px){
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
            @media (max-width: 575px){
                @include shape(1.5em);
            }
            img {
                width: 100%;
                height: 220px;
                object-fit: scale-down;
                padding: 1em;
                @media (max-width: 1399px){
                    height: 190px;
                }
                @media (max-width: 1199px){
                    height: 160px;
                }
                @media (max-width: 767px){
                    height: 120px;
                    width: 120px;
                }
                @media (max-width: 575px){
                    height: 80px;
                    width: 80px;
                }
            }
            h4 {
                padding: 0 1em 1em;
                @media (max-width: 1399px){
                    padding: 0 .5em .5em;
                }
                @media (max-width: 767px){
                    text-align: left;
                    padding: 0 .5em;
                }
            }
        }
    }
}


.sec-2 {
    figure {
        position: relative;
        .box {
            @include shape(4em);
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 415px;
                @media (max-width: 1399px){
                    height: 350px;
                }
                @media (max-width: 1199px){
                    height: 300px;
                }
                @media (max-width: 767px){
                    height: 240px;
                }
                @media (max-width: 575px){
                    height: 90vw;
                }
                &.img {
                    object-fit: cover;
                }
                &.icon {
                    object-fit: scale-down;
                    position: absolute;
                    top: 25%;
                    left: 25%;
                    width: 50%;
                    height: 50%;
                }
            }
        }
        figcaption {
            margin-top: 1em;
            h3 {
                text-align: center;
                margin-bottom: 0px;
            }
        }
    }
}


.sec-3 {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        @include shape(60px);
        @media (max-width: 1399px){
            height: 350px;
        }
        @media (max-width: 1199px){
            height: 310px;
        }
        @media (max-width: 991px){
            height: 400px;
        }
        @media (max-width: 767px){
            height: 300px;
            @include shape(3em);
        }
        @media (max-width: 575px){
            height: 55vw;
            @include shape(1.5em);
        }
    }
    p {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: .5em;
    }
}


.sec-4 {
    img {
        width: 100%;
        height: 200px;
        object-fit: scale-down;
        padding: 1em;
        filter: grayscale(1);
        opacity: .75;
        transition: $transition;
        @media (max-width: 1399px){
            height: 180px;
        }
        @media (max-width: 1199px){
            height: 160px;
        }
        @media (max-width: 991px){
            height: 120px;
        }
        @media (max-width: 767px){
            height: 90px;
            padding: .5em;
        }
        @media (max-width: 575px){
            height: 25vw;
        }
        &:hover, &:focus {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}


.sec-5 {
    @include shape(80px);
    background-color: $color-2;
    padding: 4em;
    position: relative;
    overflow: hidden;
    @media (max-width: 1199px){
        padding: 3em;
    }
    @media (max-width: 767px){
        @include shape(2em);
    }
    @media (max-width: 575px){
        padding: 2em;
    }
    .bg-1 {
        position: absolute;
        left: 50%;
        top: 0%;
        height: 100%;
        z-index: 1;
        @media (max-width: 767px){
            left: 0%;
            width: 100%;
            object-fit: contain;
            object-position: center bottom;
        }
    }
    .bg-2 {
        position: absolute;
        right: 2%;
        bottom: 0%;
        height: 100%;
        z-index: 2;
        @media (max-width: 1399px){
            height: 90%;
        }
        @media (max-width: 1199px){
            height: 85%;
        }
        @media (max-width: 991px){
            display: none;
        }
    }
    .row {
        position: relative;
        z-index: 3;
    }
    form {
        @include shape(2em);
        background-color: #fff;
        padding: 2em;
        @media (max-width: 575px){
            @include shape(1.5em);
            padding: 1.5em 1em ;
        }
    }
}


.sec-6 {
    .box {
        @include shape(60px);
        background-color: $color-2;
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-template-rows: 3em 3rem 3em 2em;
        grid-column-gap: 1em;
        padding: 3em;
        @media (max-width: 1399px){
            padding: 2em;
            @include shape(3em);
        }
        @media (max-width: 1199px){
            font-size: 13px;
        }
        @media (max-width: 991px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3em 3em 2em;
        }
        @media (max-width: 767px){
            grid-template-columns: 1fr;
            grid-template-rows: 3em 80px 3em 2em;
        }
        h3 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            margin-bottom: 0px;
            @media (max-width: 1399px){
                font-size: 1.75em;
            }
            @media (max-width: 767px){
                grid-column: 1 / 2;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        img {
            grid-column: 2 / 3;
            grid-row: 1 / 5;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            @media (max-width: 991px){
                grid-column: 2 / 3;
                grid-row: 2 / 4;
                object-position: right center;
            }
            @media (max-width: 767px){
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                object-position: left center;
            }
        }
        p {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            font-weight: 600;
            font-size: 1.25em;
            display: -webkit-box;
            -webkit-line-clamp: 2; // количество строк
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.5rem;
            @media (max-width: 991px){
                display: none;
            }
        }
        strong {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            @media (max-width: 991px){
                grid-row: 2 / 3;
            }
            @media (max-width: 767px){
                grid-row: 3 / 4;
            }
        }
        a {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            color: $color-1;
            font-weight: 600;
            font-size: 1.3em;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            display: flex;
            align-items: flex-end;
            @media (max-width: 991px){
                grid-row: 3 / 4;
            }
            @media (max-width: 767px){
                grid-row: 4 / 5;
            }
        }
    }
}


.quiz {
    background-color: $color-2;
    @include shape(60px);
    display: flex;
    overflow: hidden;
    @media (max-width: 991px){
        @include shape(3em);
    }
    @media (max-width: 575px){
        @include shape(1.5em);
    }
    #quiz-slider {
        flex: 1;
        .carousel-inner {
            padding: 4em;
            .carousel-item{transition: all .25s ease;}
            @media (max-width: 1199px){
                padding: 2.5em;
            }
            @media (max-width: 575px){
                padding: 1.5em;
            }
        }
        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            height: 750px;
            @media (max-width: 1199px){
                height: 650px;
            }
            @media (max-width: 767px){
                height: 550px;
            }
            @media (max-width: 767px){
                height: 400px;
            }
            .main {
                flex: 1;
                legend {
                    font-size: 2.5em;
                    font-weight: 600;
                    margin-bottom: 1em;
                    float: unset;
                    @media (max-width: 767px){
                        font-size: 1.8em;
                    }
                }
                label {
                    background-color: #fff;
                    padding: 1em;
                    font-size: 1.3em;
                    font-weight: 500;
                    @include shape(1.3em);
                    @media (max-width: 1399px){
                        font-size: 1.1em;
                    }
                    @media (max-width: 575px){
                        padding: .75em;
                    }
                }
            }
            .bottom {
                border-top: 2px solid #fff;
                padding-top: 2em;
                display: flex;
                justify-content: flex-end;
                align-items: stretch;
                .btn-3 {
                    img {
                        width: 1.6em;
                        margin-left: .5em;
                    }
                }
                .prev {
                    border: 2px solid $text-color;
                    background-color: #F3F3F3;
                    @include shape(1em);
                    padding: .9em 1.5em;
                    color: $text-color;
                    font-size: 1.1em;
                    font-weight: 700;
                    transition: $transition;
                    filter: grayscale(0);
                    opacity: 1;
                    &:disabled {
                        background-color: #F3F3F3;
                        color: $text-color;
                        pointer-events: none;
                    }
                }
                .next {
                    font-size: 1.1em;
                    font-weight: 700;
                    margin-left: 1em;
                    display: flex;
                    align-items: center;
                    transition: $transition;
                    filter: grayscale(0);
                    opacity: 1;
                    &:disabled {
                        background-color: #F3F3F3;
                        color: $text-color;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    aside {
        background-color: #403E3F;
        color: #fff;
        width: 350px;
        padding: 3em 1em;
        @media (max-width: 1199px){
            width: 300px;
        }
        @media (max-width: 991px){
            display: none;
        }
        strong {
            font-size: 2em;
            @include shape(1em);
            background-color: #fff;
            color: $text-color;
            display: block;
            text-align: center;
            padding: 0.5em;
            line-height: 140%;
            @media (max-width: 1199px){
                font-size: 1.75em;
            }
        }
    }
}


.sec-7 {
    background-color: #F6F6F6;
    padding: 5em 0;
    @media (max-width: 1199px){
        padding: 4em 0;
    }
    figure {
        @include shape(60px);
        overflow: hidden;
        position: relative;
        @media (max-width: 767px){
            @include shape(2em);
        }
        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            filter: brightness(.6);
        }
        figcaption {
            position: relative;
            z-index: 10;
            padding: 4em;
            color: #fff;
            @media (max-width: 1199px){
                padding: 3em;
            }
            // @media (max-width: 767px){
            //     padding: 2em;
            // }
        }
    }
}

.sec-8 {
    @include shape(60px);
    background-color: $color-1;
    color: #fff;
    padding: 5em;
    @media (max-width: 1399px){
        padding: 4em;
    }
    @media (max-width: 1199px){
        padding: 3em;
    }
    ul {
        padding-left: 0px;
        list-style: none;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 1em 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            div {
                font-size: 1.75em;
                font-weight: 600;
                flex:1;
                @media (max-width: 1399px){
                    font-size: 1.5em;
                }
                @media (max-width: 1199px){
                    font-size: 1.4em;
                }
                &::before {
                    content: '';
                    display: inline-block;
                    width: .75rem;
                    height: .75rem;
                    background-color: $color-2;
                    @include shape(.25rem);
                    margin-right: 1rem;
                }
            }
            strong {
                font-size: 1.75em;
                margin-left: 1em;
                @media (max-width: 1399px){
                    font-size: 1.5em;
                }
                @media (max-width: 1199px){
                    font-size: 1.4em;
                }
            }
            .btn-1 {
                font-weight: 700;
                font-size: 1.25em;
                margin-left: 2em;
                padding: .7em 1em;
                @media (max-width: 1199px){
                    font-size: 1em;
                }
                @media (max-width: 991px){
                    display: none;
                }
            }
        }
    }
}


.marked-list {
    list-style: none;
    padding-left: 0px;
    li {
        position: relative;
        padding-left: 2.5em;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 2.5rem;
            height: 2.5rem;
            @include shape(1rem);
            background-color: $color-2;
        }
        &:not(:first-child){margin-top: 1em;}
    }
}
.sec-9 {
    h2 {margin-bottom: 2em;}
    .box {
        background-color: $color-2;
        height: 100%;
        width: 100%;
        @include shape(50px);
        position: relative;
        img {
            position: absolute;
            bottom: 0px;
            left: -2%;
            height: 145%;
            z-index: 1;
            @media (max-width: 1399px){
                height: 130%;
            }
            @media (max-width: 1199px){
                height: 120%;
            }
        }
    }
    .marked-list {
        font-size: 1.5em;
        font-weight: 600;
    }
}


.sec-10 {
    position: relative;
    overflow-x: clip;
    padding: 3em 0;
    @media (max-width: 991px){
        padding: 0;
    }
    .pattern {
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100%;
        width: 50%;
        object-fit: cover;
        object-position: left center;
        z-index: 1;
        @media (max-width: 991px){
            top: unset;
            bottom: 0%;
            right: 0%;
            height: 500px;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .man {
        position: absolute;
        bottom: 5%;
        left: 0%;
        height: 120%;
        z-index: 1;
        @media (max-width: 1399px){
            height: 100%;
        }
        @media (max-width: 1199px){
            height: 85%;
            bottom: 10%;
        }
        @media (max-width: 991px){
            position: relative;
            bottom: unset;
            height: 500px;
            object-fit: contain;
            margin-bottom: -4em;
        }
        @media (max-width: 767px){
            height: 450px;
        }
    }
    .container {
        position: relative;
        z-index: 3;
        p {
            font-size: 1.5em;
            font-weight: 600;
            margin-top: 1em;
        }
    }
    .box {
        @include shape(2em);
        padding: 2em;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
        position: relative;
        z-index: 2;
    }
}


.sec-11 {
    position: relative;
    overflow: hidden;
    padding: 4em 0;
    background-color: #F6F6F6;
    min-height: 650px;
    @media (max-width: 991px){
        min-height: auto;
    }
    .pattern {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        z-index: 1;
        transform: rotate(180deg);
    }
    .container {
        position: relative;
        z-index: 3;
        form {
            background-color: $color-1;
            @include shape(60px);
            padding: 4em;
            color: #fff;
            position: relative;
            .img-item {
                position: absolute;
                top: 2em;
                right: 5%;
                width: 25%;
                height: 500px;
                object-fit: scale-down;
                @media (max-width: 991px){
                    display: none;
                }
            }
        }
    }
}

.accordion {
    --bs-accordion-btn-icon-transform: rotate(-45deg);
    --bs-accordion-btn-icon-width: 1.25em;
    &-button {
        border: none;
        box-shadow: none !important;
        background-color: transparent;
        padding: 1.5em 0px;
        font-size: 1.75em;
        font-weight: 600;
        line-height: 140%;
        @media (max-width: 767px){
            padding: 1em 0px;
        }
        &::after {
            background: url(../imgs/icons/plus.svg) no-repeat center;
            background-size: contain;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 160px;
            height: 20px;
            background-color: transparent;
            @include shape(4px);
            transition: $transition;
        }
        &:not(.collapsed){
            background-color: transparent;
            color: $text-color;
            &::after {
                background-image: url(../imgs/icons/plus.svg);
            }
            &::before {
                background-color: $color-2;
            }
        }
    }
    &-collapse {
        .accordion-body {
            padding: 1.5em 0 2.5em;
            p {
                font-size: 1.3em;
                font-weight: 500;
            }
        }
    }
}

footer {
    background-color: $text-color;
    color: #fff;
    height: var(--footer-h);
    &.mobile {
        display: none;
        height: 60px;
        position: sticky;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
        z-index: 1050;
        @media (max-width: 991px){
            display: block;
        }
        nav {
            height: 100%;
            ul {
                height: 100%;
                list-style: none;
                padding-left: 0px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                a, button {
                    filter: grayscale(1) brightness(.75);
                    transition: $transition;
                    &:hover, &:focus, &:active {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}


.offcanvas {
    background-color: #fff;
    overflow: hidden;
    height: fit-content !important;
    &-top {
        border-radius: 0px 0px 32px 32px;
        padding-top: var(--header-h);
    }
    &-bottom {
        border-radius: 32px 32px 0px 0px;
        padding-bottom: 60px;
    }
    &-body {
        padding: 2em 0;
    }
    .btn-close {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background: #F6F6F6;
        opacity: 1;
        padding: 0px;
        @include flex-center();
        transition: $transition;
        &:hover {
            background-color: $color-2;
        }
        img {width: 1em;}
    }
    nav {
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                &:not(:first-child){margin-top: .75em;}
                a {
                    background: #F7F7F7;
                    border-radius: 1rem;
                    padding: 0 1rem;
                    font-size: 1.6em;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    height: 60px;
                    img {
                        width: 3rem;
                        height: 3rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}